extends layout

block content
  h1= name

  form(method='POST' action='')
    div.form-group
      label(for='name') Name:
      input#name.form-control(type='text', placeholder='Name of pokemon' name='name' required='true' value=(undefined===pokemon ? '' : pokemon.name) )
    div.form-group
      label(for='description') Pokedex Entry:
      textarea#summary.form-control(type='textarea', placeholder='' name='description' required='true') #{undefined===pokemon ? '' : pokemon.description}
    div.form-group
      label(for='Number') Number:
      input#isbn.form-control(type='number', placeholder='Number' name='Number' value=(undefined===pokemon ? '' : pokemon.Number) required='true')
    div.form-group
      label(for='type') Type:
      input#name.form-control(type='text', placeholder='Type of pokemon' name='type' required='true' value=(undefined===pokemon ? '' : pokemon.type) )
    button.btn.btn-primary(type='submit') Submit
    
  if errors
    ul
      for error in errors
        li!= error.msg